<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="SirRoFiAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<param name="file" value="${catalina.base}/logs/SIR.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %c:%-4L: %m%n" />
		</layout>
	</appender>

	<appender name="SirCatalogRoFiAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<param name="file" value="${catalina.base}/logs/SIR-Catalog.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %c:%-4L: %m%n" />
		</layout>
	</appender>

	<appender name="SirConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- %d{ABSOLUTE} %-5p %-40.40c:%3L - %m %n -->
			<param name="ConversionPattern" value="%d %-5p (%c{1}.java:%L) - %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.commons">
		<level value="ERROR" />
	</logger>

	<logger name="org.apache.http">
		<level value="ERROR" />
	</logger>

	<logger name="org.n52.sir">
		<level value="DEBUG" />
		<appender-ref ref="SirRoFiAppender" />
	</logger>

	<logger name="org.n52.sir.ds">
		<level value="WARN" />
	</logger>

	<logger name="org.n52.sir.catalog" additivity="false">
		<!-- <appender-ref ref="SirConsoleAppender" /> -->
		<appender-ref ref="SirCatalogRoFiAppender" />
	</logger>

	<!-- this will go to catalina.out -->
	<root>
		<priority value="ERROR" />
		<appender-ref ref="SirConsoleAppender" />
	</root>

</log4j:configuration>
