<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">

	<!-- log on standard output console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- sends logs to logback-beagle -->
	<consolePlugin />

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<!-- <property name="logFile" -->
	<!-- value="${config.logger.fileappender.filepath}/${pom.artifactId}-${project.version}"
		/> -->

	<!-- <appender name="FILE" -->
	<!-- class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
	<!-- <file>${logFile}.log</file> -->

	<!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
	<!-- <fileNamePattern>${logFile}/%d{yyyy-MM-dd}.log</fileNamePattern> -->
	<!-- <!-- keep 30 days' worth of history -->
	-->
	<!-- <maxHistory>30</maxHistory> -->
	<!-- </rollingPolicy> -->

	<!-- <encoder> -->
	<!-- <pattern> -->
	<!-- %date %level [%thread] [%file:%line] %msg%n -->
	<!-- </pattern> -->
	<!-- </encoder> -->
	<!-- </appender> -->

	<logger name="org.n52" level="DEBUG" />

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
</configuration>