<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"> <!-- refer to http://logback.qos.ch/manual/appenders.html -->
	<property name="logFile"
		value="${oss.logger.filepath}/${pom.artifactId}-${project.version}" />

	<appender name="ossservicefile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logFile}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logFile}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern> %date %level [%thread] [%file:%line] %msg%n </pattern>
		</encoder>
	</appender>

	<appender name="ossconsole" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="org.n52.oss" level="DEBUG" />
	<logger name="org.n52.sir" level="DEBUG" />
	<logger name="org.n52.sor" level="DEBUG" />
	<logger name="org.apache.http" level="WARN" />
	
	<root level="INFO">
		<appender-ref ref="ossservicefile" />
		<appender-ref ref="ossconsole" />
	</root>
</configuration>